@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 text-center bg-light rounded-3 shadow">
    <h1 class="display-5 fw-bold">Welcome to Metric System</h1>
    <p class="lead">Easily convert from British system to international metric system.</p>
</div>
