body { 

    padding: 1em; 

    font-family: Arial, Helvetica, sans-serif; 

    color: rgb(201, 28, 28);  

 

} 

 

h1 { 

    margin-top: 0; 

    color: rgba(2, 2, 5, 0.829); 

} 

 

label { 

    display: inline-block; 

    width: 12em; 

    padding-right: 2em; 

    color:rgba(2, 2, 5, 0.829) 

} 

 

div { 

    margin-bottom: .3em; 

} 

 

footer { 

    text-align:center; 

    padding-top:1em; 

    font-size: 80%; 

} 

a { 
  text-decoration: none; 

  color: black;  

} 
